{%extends 'all-insta/base.html'%}

{% load staticfiles %}
 {% block content %}

{{block.super}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

</head>

<div class="container">

  <div class="profile">

    <div class="profile-image">

      <img src="{{profile.profile.url}}" class=" img img-responsive" >

    </div>

    <div class="profile-user-settings">

      <div class="message-section bg-light w-50" style="display:none; font-size:17px;"></div>

      <h1 class="profile-user-name">{{profile.user.username}}</h1>

      {% if user == profile.user%}
      <button class="btn profile-edit-btn"> <a href="{%url 'new_profile' profile.user%}">Edit Profile</a></button>

      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true" data-toggle="modal" data-target="#settings"></i></button>
      {%else%}
      <button id="follow" class="btn profile-edit-btn" data-user="{{user.id}}" data-profile="{{profile.id}}" >Follow</button>
      {%endif%}
    </div> 

    <div class="profile-stats">

  
   {%endblock%}